:root {
    /* Colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    
    /* Typography */
    /* Font size */
    --body: 1.4rem;
    /* Font family */
    --Montserrat: 'Montserrat', sans-serif;
    --Faunces: 'Fraunces', serif;
    /* Font weight */
    --medium: 500;
    --bold: 700;
}

/* Restablish default values */
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/* Applying rem as default font size */
html {
    font-size: 62.5%;
}

body {
    height: 900px;
    background-color: var(--cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    background-color: var(--white);
    width: 350px;
    height: 800px;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
}

 .product-card__image {
    /* Making a image responsive with the next two lines */
    /* max-width: 100%;
    height: auto; */
    height: 320px;
    background-image: url("./product-preview-card-component-main/images/image-product-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.product-card__description {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-card__description--category {
    font-family: var(--Montserrat);
    font-size: var(--body);
    font-weight: var(--medium);
    letter-spacing: .5rem;
    color: var(--dark-grayish-blue);
}

.product-card__description--name {
    font-family: var(--Faunces);
    font-size: 3.5rem;
    font-weight: var(--bold);

}

.product-card__description--info {
    font-family: var(--Montserrat);
    font-size: var(--body);
    font-weight: var(--medium);
    letter-spacing: .1rem;
    line-height: 2.5rem;
    color: var(--dark-grayish-blue);
}

.product-card__description--price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product-card__description--price span:nth-child(odd) {
    font-family: var(--Faunces);
    font-size: 3.5rem;
    font-weight: var(--medium);
    color: var(--dark-cyan);
}

.product-card__description--price span:nth-child(even) {
    font-family: var(--Montserrat);
    font-size: var(--body);
    font-weight: var(--medium);
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.product-card__description--button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 70px;
    background-color: var(--dark-cyan);
    border-style: none;
    border-radius: 10px;
}

.product-card__description--button img {
    width: 20px;
    height: 20px;
}

.product-card__description--button p {
    font-family: var(--Montserrat);
    font-size: var(--body);
    font-weight: var(--bold);
    color: var(--white);
}

.product-card__description--button:hover {
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .product-card {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 800px;
        width: 920px;
    }
    .product-card__image {
        height: 800px;
        background-image: url("./product-preview-card-component-main/images/image-product-desktop.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .product-card__description {
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .product-card__description--category,
    .product-card__description--info,
    .product-card__description--price span:nth-child(even) {
        font-size: 2rem;
    }

    .product-card__description--info {
        line-height: 3.5rem;
    }

    .product-card__description--name,
    .product-card__description--price span:nth-child(odd) {
        font-size: 5.5rem;
    }

    .product-card__description--button {
        width: 340px;
        height: 80px;
    }
}